.headernav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    max-width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

.navlist{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    color: #efeeff;
}

.navbtn{
    background: #ece539;
    border: 1px solid #ece539;
    border-radius: 20px;
    padding: 8px 24px;
    color: #2c1a4c;
}
.navbtn:hover{
    background: #daca18;
    border: 1px solid #daca18;
    color: #2c1a4c;
}
.navbtn:active{
    background: #bca112;
    border: 1px solid #bca112;
    color: #2c1a4c;

}
.btnsecondary{
    border: 1px solid #ece539;
    border-radius: 20px;
    padding: 8px 24px;
    color: #ece539;
}
.btnsecondary:hover{
    background: #ece539;
    color: #2c1a4c;
}
.btnsecondary:active{
    background: #bca112;
    color: #2c1a4c;
}

@media (min-width: 640px) {
    .navbar{
        padding: 12px 56px;
    }
    .navlist{
        gap: 24px;
    }
}